@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-v8-latin_cyrillic-regular.eot");
  src: local("PT Sans"), local("PTSans-Regular"), url("fonts/pt-sans-v8-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("fonts/pt-sans-v8-latin_cyrillic-regular.woff2") format("woff2"), url("fonts/pt-sans-v8-latin_cyrillic-regular.woff") format("woff"), url("fonts/pt-sans-v8-latin_cyrillic-regular.ttf") format("truetype"), url("fonts/pt-sans-v8-latin_cyrillic-regular.svg#PTSans") format("svg");
}
@font-face {
  font-family: "RobotoBold";
  src: url("fonts/RobotoBold/RobotoBold.eot");
  src: url("fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("fonts/RobotoBold/RobotoBold.woff") format("woff"), url("fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  background-color: #f8f8f8;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 12px;
  color: #000;
  margin: 0;
}
.menu-check {
  display: none;
}
.menu1-check {
  display: none;
}
h1 {
  color: #fff;
  letter-spacing: 3px;
  margin: 0;
  position: absolute;
  top: 65%;
  left: 17%;
  font-size: 64px;
  text-shadow: 3px 6px 16px #000000;
}
h2 {
  text-align: center;
  font-size: 25px;
  color: grey;
}
h4 {
  color: orangered;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 56%;
  text-shadow: 0px 0px 1px #fff;
  font-size: 20px;
}
h5 {
  color: #004a7c;
  font-size: 16px;
  margin: 0;
}
.header {
  background: url(image/main_img_analitics7.jpg) no-repeat;
  background-position: 0 88%;
  background-size: cover;
  position: relative;
  width: 100%;
  max-width: 1358px;
  height: 415px;
  margin: auto;
  text-align: center;
}
.header__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  width: 100%;
  background-color: rgba(11, 20, 61, 0.92);
  min-height: 50px;
  margin: 0 auto;
  height: 50px;
}
.header__menu_item {
  max-width: 1000px;
  margin: 0 auto;
}
.header__menu_item ul {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin: 0;
}
.header__menu_item ul .main-logo {
  position: absolute;
  top: 12px;
  left: 10px;
  background: url(image/logo_mini.png);
  width: 40px;
  height: 50px;
}
.header__menu_item ul li {
  display: inline-flex;
  text-transform: uppercase;
}
.header__menu_item ul li a {
  font-weight: 700;
  font-size: 13px;
  font-family: "RobotoBold";
  color: #fff;
  text-decoration: none;
  padding: 16px 0;
}
.header__menu_item ul li.center {
  margin-right: 10px;
  margin-left: 15px;
}
.header__menu_item ul li.center:first-child {
  margin-left: 6%;
}
.header__menu_item ul li.right:nth-child(6) {
  margin-left: 10%;
}
.header__menu_item ul li.menu_icon a {
  width: 80px;
  height: 50px;
  position: relative;
  text-decoration: none;
}
.header__menu_item ul li.menu_icon a span {
  transition: transform 0.5s, -webkit-transform 0.5s;
  display: block;
  position: absolute;
  top: 23px;
  left: 34px;
  right: 13px;
  height: 3px;
  background-color: #fff;
}
.header__menu_item ul li.menu_icon a span:before {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: "";
  top: -10px;
}
.header__menu_item ul li.menu_icon a span:after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  content: "";
  bottom: -10px;
}
.header__menu .dop_menu {
  transition: transform 0.5s, -webkit-transform 0.5s;
  background-color: rgba(11, 20, 61, 0.92);
  display: none;
  margin-top: -1px;
}
.header__menu .dop_menu ul {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-around;
}
.header__menu .dop_menu ul li {
  display: inline-flex;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 15px;
}
.header__menu .dop_menu ul li a {
  font-weight: 700;
  font-size: 13px;
  font-family: "RobotoBold";
  color: #fff;
  text-decoration: none;
  padding: 16px 0;
}
.header__menu.active #menu_icon span {
  transform: rotate(-90deg);
}
.header__menu.active .dop_menu {
  display: block;
}
.header-mobile {
  display: none;
}
.wraper {
  width: 100%;
  max-width: 1358px;
}
.menu {
  width: 100%;
  max-width: 1358px;
  background-color: #7894bc;
  height: 50px;
  margin: 0 auto;
  box-shadow: 0px 9px 16px -5px grey;
}
.menu ul {
  display: flex;
  justify-content: space-around;
  max-width: 964px;
  padding: 0;
  list-style: none;
  margin: 0 auto;
  position: relative;
}
.menu li {
  text-transform: uppercase;
}
.menu .button {
  color: #fff;
  text-transform: uppercase;
  border: none;
  background-image: none;
  background: transparent;
  background-color: transparent;
  cursor: pointer;
  margin-top: 11px;
  font-family: "PT Sans", serif;
  font-size: 20px;
  font-weight: 700;
}
.menu .button:focus {
  outline: none;
}
.menu__item_text {
  color: #fff;
  text-decoration: none;
}
.main {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  width: 100%;
  min-height: 700px;
  margin: 0 auto;
  max-width: 1358px;
}
.main .nav {
  max-width: 140px;
  background: linear-gradient(to bottom, #7894bc, #c3d1e5);
  box-shadow: 5px 8px 11px -5px grey;
}
.main .nav ul {
  position: sticky;
  padding: 0;
  padding-right: 20px;
  text-align: right;
  top: 0;
}
.main .nav ul li {
  list-style: none;
  padding: 20px 0;
}
.main .nav ul li a {
  font-size: 18px;
}
.main .nav_text {
  color: #fff;
  text-decoration: none;
}
.main .content {
  width: 100%;
}
.main .row__container1 {
  display: flex;
  margin: 10px 10px 25px 20px;
  background-color: #fff;
}
.main .row__container1 p {
  text-align: center;
}
.main .row__container1 p.main-value {
  font-size: 48px;
  color: #10ade4;
  margin-bottom: 0;
  margin-top: 50px;
}
.main .row__container1 p.bottom-value {
  font-size: 16px;
  color: #10ade4;
  margin-top: 0;
}
.main .row__container1_item1 {
  min-height: 250px;
  vertical-align: top;
  border-right: 1px solid #efefef;
  text-align: center;
  width: 100%;
}
.main .row__container1_item1 h3 {
  color: #004a7c;
  font-size: 20px;
}
.main .row__container2 {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 25px 20px;
  background-color: #f8f8f8;
}
.main .row__container2_item2 {
  min-height: 265px;
  vertical-align: top;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 100%;
  max-width: 280px;
}
.main .row__container2_item2 h3 {
  color: #004a7c;
  font-size: 14px;
  min-height: 15%;
  padding: 0 10px;
  margin-bottom: 25px;
}
.main .row__container2_item2 img {
  width: 80%;
  height: 170px;
  cursor: pointer;
}
.amcharts-chart-div > a {
  display: none !important;
}
.amcharts-export-menu {
  display: none !important;
}
.amChartsLegend {
  width: 100% !important;
  left: 10px !important;
  top: 5px !important;
}
.modals {
  display: none;
  position: fixed;
  width: 1200px;
  left: 50%;
  top: 50%;
  z-index: 2;
}
.modals__content {
  transform: translate(-50%, -50%);
  z-index: 2;
  position: relative;
}
.modals__overlay {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.grey {
  filter: grayscale(1);
  color: #edf4fe;
  text-decoration: none;
  text-shadow: 0px 3px 6px #000000;
}
.grey-block {
  filter: grayscale(1);
}
.amcharts-map-image {
  display: none;
}
.footer {
  height: 270px;
  background-color: #263948;
}
.footer__item {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}
.footer__item ul {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style: none;
}
.footer__item ul .li-text-color a {
  color: #00ffff;
  text-decoration: none;
}
.footer__item ul li {
  padding: 7px 0;
}
.footer__item ul li.copyright {
  color: #999999;
  padding-top: 30px;
}
.footer__item ul li a {
  font-size: 14px;
  font-family: "RobotoBold";
  color: #fff;
  text-decoration: none;
  padding-top: 16px 0;
}
.footer__item_column-4 {
  border-left: 1px solid #999995;
  color: #999995;
  padding-left: 20px;
}
.footer__item_column-4 p {
  margin: 0;
  margin-bottom: 10px;
}
.footer__item_column-1::before {
  content: "";
  position: absolute;
  top: -60px;
  left: 38px;
  background: url(image/logo_mini.png);
  width: 40px;
  height: 50px;
  box-sizing: border-box;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 13px 0px 0 9px;
  display: inline-block;
  margin-right: 6%;
  font-family: "RobotoBold";
}
.footer-mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  /* Хэдер моб */
  .header {
    height: 250px;
  }
  .header__menu {
    display: none;
  }
  .header-mobile {
    display: block;
    background-color: #202f60;
    height: 50px;
    width: 100%;
  }
  .header-mobile__panel {
    display: flex;
    justify-content: space-between;
  }
  .header-mobile__panel::after {
    content: "";
    display: table;
    clear: both;
  }
  .header-mobile__panel_burger {
    width: 80px;
    height: 50px;
    position: relative;
    cursor: pointer;
  }
  .header-mobile__panel_burger span {
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    display: block;
    position: absolute;
    top: 23px;
    left: 34px;
    right: 13px;
    height: 3px;
    background-color: #ff1550;
  }
  .header-mobile__panel_burger span::before {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ff1550;
    content: "";
    top: -10px;
  }
  .header-mobile__panel_burger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ff1550;
    content: "";
    bottom: -10px;
  }
  .header-mobile__panel_title {
    font-weight: 700;
    height: 50px;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
  .header-mobile__panel_title p {
    margin: 15px 0;
  }
  .header-mobile__panel_btn {
    width: 80px;
    height: 50px;
    background-image: url(image/mobile-btn.png);
    background-repeat: no-repeat;
    background-position: 21px 7px;
    background-size: 30px;
  }
  .header-mobile__menu {
    position: absolute;
    margin-top: 1px;
    background-color: #202f60;
    width: 100%;
    height: 610px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: 8;
    -webkit-transition: 0.8s;
    transition: 0.8s;
  }
  .header-mobile__menu_item {
    width: 158px;
    font-size: 18px;
    margin: auto;
  }
  .header-mobile__menu_item-info-logo {
    padding-top: 20px;
  }
  .header-mobile__menu_item-info-logo a {
    height: 200px;
    background: url(image/logo_0.png) no-repeat;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
    width: 160px;
    background-size: 100%;
    box-sizing: border-box;
    padding: 68px 40px 0;
    font-size: 22px;
    line-height: 1.25;
    text-align: left;
  }
  .header-mobile__menu_item .main-menu {
    list-style: none;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }
  .header-mobile__menu_item .main-menu_list a {
    color: #fff;
    text-decoration: none;
  }
  .header-mobile__menu_item .main-menu li.main-menu_list {
    padding-top: 20px;
    cursor: pointer;
  }
  .header-mobile__menu_item .main-menu li.main-menu_list:first-child {
    padding-top: 0;
  }
  .header-mobile__menu_item .main-menu li.main-menu_list:last-child {
    padding-bottom: 20px;
  }
  .header-mobile__menu_item .register-menu {
    list-style: none;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    border-top: 2px solid #fff;
  }
  .header-mobile__menu_item .register-menu_list a {
    text-decoration: none;
    color: #00ffff;
  }
  .header-mobile__menu_item .register-menu li.register-menu_list {
    padding-top: 20px;
    cursor: pointer;
  }
  .header-mobile .menu-check:checked + .header-mobile__panel .header-mobile__panel_burger span {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .header-mobile .menu-check:checked + .header-mobile__panel .header-mobile__panel_burger span:before {
    top: -7px;
    -webkit-transform: translateX(19px) translateY(2px) rotate(45deg);
    transform: translateX(19px) translateY(2px) rotate(45deg);
    width: 50%;
  }
  .header-mobile .menu-check:checked + .header-mobile__panel .header-mobile__panel_burger span:after {
    bottom: -7px;
    -webkit-transform: translateX(19px) translateY(-2px) rotate(-45deg);
    transform: translateX(19px) translateY(-2px) rotate(-45deg);
    width: 50%;
  }
  .header-mobile .menu-check:checked ~ .header-mobile__menu {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    margin: 0;
  }
  /* Мэйн моб */
  .menu ul {
    display: flex;
    justify-content: space-evenly;
    margin-left: 35px;
  }
  .menu .button {
    margin-top: 17px;
    font-size: 15px;
    padding: 0;
  }
  .nav {
    position: absolute;
    margin-top: 1px;
    background-color: #7894bc;
    width: 100%;
    -webkit-transform: translateX(-115%);
    transform: translateX(-115%);
    z-index: 14;
    -webkit-transition: 0.8s;
    transition: 0.8s;
  }
  .menu1-check:checked ~ .main .nav {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    margin: 0;
  }
  .menu1__panel_burger {
    width: 80px;
    position: relative;
    cursor: pointer;
  }
  .menu1__panel_burger span {
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    display: block;
    position: absolute;
    left: 12px;
    top: -26px;
    right: 38px;
    height: 3px;
    background-color: #ff1550;
  }
  .menu1__panel_burger span::before {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ff1550;
    content: "";
    top: -10px;
  }
  .menu1__panel_burger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ff1550;
    content: "";
    bottom: -10px;
  }
  .menu1-check:checked + .menu1__panel_burger span {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .menu1-check:checked + .menu1__panel_burger span:before {
    top: -7px;
    -webkit-transform: translateX(19px) translateY(2px) rotate(45deg);
    transform: translateX(19px) translateY(2px) rotate(45deg);
    width: 50%;
  }
  .menu1-check:checked + .menu1__panel_burger span:after {
    bottom: -7px;
    -webkit-transform: translateX(19px) translateY(-2px) rotate(-45deg);
    transform: translateX(19px) translateY(-2px) rotate(-45deg);
    width: 50%;
  }
  .main__container {
    padding: 0 10px;
  }
  .main__container_1,
  .main__container_2 {
    display: block;
    width: 100%;
  }
  h1 {
    top: 64%;
    margin: 11px auto;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
  }
  h2 {
    padding: 0 5px;
  }
  h4 {
    left: 0;
  }
  .main .row__container1 {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  .main .row__container1_item1 {
    min-height: 210px;
    border-bottom: 1px solid #efefef;
  }
  .main .row__container2 {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  .main .row__container2_item2 {
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 100%;
  }
  .amChartsLegend {
    position: relative;
    left: -10px !important;
    top: 5px !important;
  }
  /* Футер моб */
  .footer {
    display: none;
  }
  .footer-mobile {
    display: block;
    height: 550px;
    background-color: #263948;
  }
  .footer-mobile__item {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
  }
  .footer-mobile__item ul {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    list-style: none;
  }
  .footer-mobile__item ul li {
    padding: 7px 0;
  }
  .footer-mobile__item ul li a {
    font-size: 14px;
    font-family: "RobotoBold";
    color: #fff;
    text-decoration: none;
    padding-top: 16px 0;
  }
  .footer-mobile__item ul li.copyright {
    color: #999999;
    padding-top: 30px;
  }
  .footer-mobile__item ul .li-text-color a {
    color: #00ffff;
    text-decoration: none;
  }
  .footer-mobile__item_end {
    color: #999995;
    padding-left: 45px;
    padding-top: 15px;
  }
  .footer-mobile__item_end p {
    margin: 0;
    margin-bottom: 10px;
  }
  .footer-mobile__item_column-2 {
    padding-left: 0;
    padding-right: 16px;
  }
  .footer-mobile__item_column-1::before {
    content: "";
    position: absolute;
    top: -60px;
    left: 38px;
    background: url(image/logo_mini.png);
    width: 40px;
    height: 50px;
    box-sizing: border-box;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 13px 0px 0 9px;
    display: inline-block;
    margin-right: 6%;
    font-family: "RobotoBold";
  }
}
@media screen and (max-width: 330px) {
  .menu ul {
    display: flex;
    justify-content: space-evenly;
    padding-left: 45px;
  }
  .menu .button {
    margin-top: 18px;
    font-size: 12px;
  }
}
